@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

body {
    font-family: 'Montserrat', sans-serif;
}

body .mi-main {
    padding: 2rem;
    margin-top: 2rem;

    background-image: unset;

    h2 {
        text-align: center;
        color: #6dbf1c;
        margin-bottom: 2rem;
    }


    #art {
        margin-top: 2rem;

        img {
            width: 30vw;
            height: 30vw;
            border: 2px solid #6dbf1c;
            border-radius: 56%;
            margin-left: 7rem;
            margin-top: 5rem;
            -webkit-box-shadow: 5px 7px 5px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 5px 7px 5px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 5px 7px 5px 0px rgba(0, 0, 0, 0.75);
        }
    }

    p {



        text-align: left;
    }

}

body p {
    text-align: left;
}

body #art p {
    margin-top: 2rem;
    margin-bottom: unset;
    padding-left: 5rem;
    padding-right: 5rem;

    img {
        width: 15vw;
        height: 15vw;



        border: 2px solid white;
        border-radius: 20px;


        border-radius: 5px;
        box-shadow: 2px 2px 5px 2px #0B173C;
        border: 1px solid var(--white-color);
        margin-right: 7rem;
    }
}

body .mi-main #video {
    iframe {
        height: 20rem;
        height: 15rem;
    }
}

body #backButton {
    margin-bottom: 4rem
}

body #logo {
    margin-bottom: 4rem;
}

body #area-3,
#area-1,
#area-2 {
    margin-top: 2rem;
    margin-bottom: 4rem;

    img {
        width: 25vw;
        height: 25vw;
        border: 2px solid white;
        border-radius: 20px;
        border-radius: 5px;
        box-shadow: 2px 2px 5px 2px #0B173C;
        border: 1px solid var(--white-color);

    }
}

.title h3 {
    text-align: center;
    color: #6dbf1c;
    margin-bottom: 4rem;
    margin-top: 6rem;
}
body #video{
    margin-top: 2rem;
}
@media only screen and (max-width: 991px) {
    body .mi-main #art img {
        margin-top: unset;
        margin-left: unset;
        padding-right: unset;
        margin-right: unset;
    }
}

@media only screen and (max-width: 768px) {
    body .mi-main #art img {
        margin-top: unset;
        margin-left: unset;
        padding-right: unset;
        margin-right: 2rem;
        margin-top: 2rem;

    }

    body #art p {
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }


    body .mi-main img {
        width: 75vw;

    }

    body .mi-main #area-3,
    #area-2,
    #area-1 {
        img {
            width: 75vw;
            height: 75vw;
            border: 2px solid white;
            border-radius: 20px;
            border-radius: 5px;
            -webkit-box-shadow: 2px 2px 5px 2px #0B173C;
            box-shadow: 2px 2px 5px 2px #0B173C;
            border: 1px solid var(--white-color);
            margin-top: 2rem;
        }
    }

    body .title h3 {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    body .mi-main p {
        padding: unset;
        text-align: left;
        margin-top: 1rem;
        margin-right: unset;


        body .title h3 {
            margin-bottom: unset;
        }

    }

    body #area-3 img {
        height: 75vw;
        width: 75vw;
        margin-bottom: 2rem;
    }
    body #area-1{
        margin-top: unset;
    } 
    body .mi-main{
        padding: unset;
    }
    body .mi-main #art p{
        padding-left: 1rem;
    }
}

@media only screen and (max-width: 575px) {


    body .mi-main #art img {
        margin-top: unset;
        margin-left: unset;
        padding-right: unset;
        margin-right: unset;
        margin-top: 2rem;

    }
    body #area-1{
        margin-top: unset;
    }
    body #art p {
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding-left: unset;
    }


    body .mi-main img {
        width: 75vw;

    }

    body .title h3 {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    body .mi-main #area-3,
    #area-2,
    #area-1 {
        img {
            width: 75vw;
            height: 75vw;
            border: 2px solid white;
            border-radius: 20px;
            border-radius: 5px;
            -webkit-box-shadow: 2px 2px 5px 2px #0B173C;
            box-shadow: 2px 2px 5px 2px #0B173C;
            border: 1px solid var(--white-color);
            margin-top: 2rem;
        }
    }

    body .mi-main p {
        padding: unset;
        text-align: left;
        margin-top: 1rem;


        body .title h3 {
            margin-bottom: unset;
        }

    }

    body #area-3 img {
        height: 75vw;
        width: 75vw;
        margin-bottom: 2rem;
    }

    body .mi-main {
        padding-right: unset;
    }
    body .mi-main{
        padding: unset;
    }
    body .mi-main #art p{
        padding-left: 1rem;
    }
}