:root {
  --primary-color: #092514;
  --primary-hover-color: #7EBD3F;
  --success-color: #6dbf1c;
  --success-hover-color: #A2F352;
  --warning-color: #FF8607;
  --warning-hover-color: #FEB22E;
  --danger-color: #FF0048;
  --danger-hover-color: #D11159;
  --info-color: #00D6C7;
  --info-hover-color: #7AEFE7;
  --white-color: #ffffff;
  --gray-color: #eee;
  --rem: 16px;
  --nav-height: 3.25rem;
  --header-desktop-background-image: url(../../images/DarkGreenHeader1280.jpg);
  --header-notebook-background-image: url(../../images/DarkGreenHeader990.jpg);
  --header-tablet-background-image: url(../../images/DarkGreenHeader760.jpg);
  --header-mobile-background-image: url(../../images/DarkGreenHeader575.jpg);
  --main-background-image: url(/*../../images/DarkGreenBackground1520-2.jpg*/);
  --btn-nav-max-height: 3.2vw;
  --footer-gap: 3rem;

  /* buttons */
  --btn-primary-text-color: #7EBD3F;
  --btn-primary-hover-text-color: #092514;
  --btn-primary-background-color: #092514;
  --btn-primary-hover-background-color: #7EBD3F;
  --btn-primary-border-color: transparent;
  --btn-primary-hover-border-color: #092514;


  --btn-success-text-color: #ffffff;
  --btn-success-hover-text-color:  #092514;
  --btn-success-background-color: #6dbf1c;
  --btn-success-hover-background-color: #A2F352;
  --btn-success-border-color: transparent;
  --btn-success-hover-border-color: #6dbf1c;

  --btn-warning-text-color: #ffffff;
  --btn-warning-hover-text-color: #ffffff;
  --btn-warning-background-color: #FF8607;
  --btn-warning-hover-background-color: #FEB22E;
  --btn-warning-border-color: transparent;
  --btn-warning-hover-border-color: #FF8607;

  --btn-danger-text-color: #ffffff;
  --btn-danger-hover-text-color: #ffffff;
  --btn-danger-background-color: #FF0048;
  --btn-danger-hover-background-color: #D11159;
  --btn-danger-border-color: transparent;
  --btn-danger-hover-border-color: #FF0048;

  --btn-info-text-color: #ffffff;
  --btn-info-hover-text-color: #ffffff;
  --btn-info-background-color: #00D6C7;
  --btn-info-hover-background-color: #7AEFE7;
  --btn-info-border-color: transparent;
  --btn-info-hover-border-color: #00D6C7;

  --btn-link-text-color: #092514;
  --btn-link-hover-text-color: #092514;
  --btn-link-background-color: transparent;
  /* buttons */
}