/* рестартиране на правилата от браузъра */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

a:not([href]):not([tabindex]) {
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

select {
  word-wrap: normal;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}
/* рестартиране на правилата от браузъра */

/* хедър елемент */
.mi-header {
  margin-top: var(--nav-height);
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}

@media only screen and (max-width: 991px) {

  .mi-header {
    margin-top: calc(0.9 * var(--nav-height));
  }

}
@media only screen and (max-width: 768px) {

  .mi-header {
    margin-top: calc(0.8 * var(--nav-height));
  }

}
@media only screen and (max-width: 575px) {

  .mi-header {
    margin-top: calc(0.7 * var(--nav-height));
  }

}
/* хедър елемент */

/* бутони */
fieldset:disabled a.mi-btn-primary,
fieldset:disabled a.mi-btn-success,
fieldset:disabled a.mi-btn-warning,
fieldset:disabled a.mi-btn-danger,
fieldset:disabled a.mi-btn-info,
fieldset:disabled a.mi-btn-link,
fieldset:disabled a.mi-btn-nav,
fieldset:disabled a.mi-btn-footer {
  pointer-events: none;
}

.mi-btn-primary {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--btn-primary-text-color);
  background-color: var(--btn-primary-background-color);
  border-color: var(--btn-primary-hover-background-color);
  border: 1px solid var(--btn-primary-background-color);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.mi-btn-primary:hover {
  text-decoration: none;
  color: var(--btn-primary-hover-text-color);
  background-color: var(--btn-primary-hover-background-color);
  border-color: var(--btn-primary-hover-border-color);
}

.mi-btn-primary:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.mi-btn-primary:disabled {
  opacity: 0.65;
  color: var(--white-color);
  background-color: var(--gray-color);
  border-color: var(--white-color);
}

@media only screen and (max-width: 991px) {

}
@media only screen and (max-width: 768px) {

}
@media only screen and (max-width: 575px) {
  
}

.mi-btn-success {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--btn-success-text-color);
  background-color: var(--btn-success-background-color);
  border-color: var(--btn-success-border-color);
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.mi-btn-success:hover {
  text-decoration: none;
  color: var(--btn-success-hover-text-color);
  background-color: var(--btn-success-hover-background-color);
  border-color: var(--btn-success-hover-border-color);
}

.mi-btn-success:focus {
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

.mi-btn-success:disabled {
  color: var(--white-color);
  background-color: var(--gray-color);
  border-color: var(--white-color);
}

@media only screen and (max-width: 991px) {

}
@media only screen and (max-width: 768px) {

}
@media only screen and (max-width: 575px) {
  
}

.mi-btn-warning {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--btn-warning-text-color);
  background-color: var(--btn-warning-background-color);
  border-color: var(--btn-warning-border-color);
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.mi-btn-warning:hover {
  text-decoration: none;
  color: var(--btn-warning-hover-text-color);
  background-color: var(--btn-warning-hover-background-color);
  border-color: var(--btn-warning-hover-border-color);
}

.mi-btn-warning:focus {
  box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
}

.mi-btn-warning:disabled {
  color: var(--white-color);
  background-color: var(--gray-color);
  border-color: var(--white-color);
}

@media only screen and (max-width: 991px) {

}
@media only screen and (max-width: 768px) {

}
@media only screen and (max-width: 575px) {
  
}

.mi-btn-danger {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--btn-danger-text-color);
  background-color: var(--btn-danger-background-color);
  border-color: var(--btn-danger-border-color);
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.mi-btn-danger:hover {
  text-decoration: none;
  color: var(--btn-danger-hover-text-color);
  background-color: var(--btn-danger-hover-background-color);
  border-color: var(--btn-danger-hover-border-color);
}

.mi-btn-danger:focus {
  box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}

.mi-btn-danger:disabled {
  color: var(--white-color);
  background-color: var(--gray-color);
  border-color: var(--white-color);
}

@media only screen and (max-width: 991px) {

}
@media only screen and (max-width: 768px) {

}
@media only screen and (max-width: 575px) {
  
}

.mi-btn-info {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--btn-info-text-color);
  background-color: var(--btn-info-background-color);
  border-color: var(--btn-info-border-color);
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.mi-btn-info:hover {
  text-decoration: none;
  color: var(--btn-info-hover-text-color);
  background-color: var(--btn-info-hover-background-color);
  border-color: var(--btn-info-hover-border-color);
}

.mi-btn-info:focus {
  box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}

.mi-btn-info:disabled {
  color: var(--white-color);
  background-color: var(--gray-color);
  border-color: var(--white-color);
}

@media only screen and (max-width: 991px) {

}
@media only screen and (max-width: 768px) {

}
@media only screen and (max-width: 575px) {
  
}

.mi-btn-nav {
  max-height: var(--btn-nav-max-height);
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--primary-color);
  background-color: var(--white-color);
  border-color: var(--primary-color);
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1vw;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.mi-btn-nav:hover {
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--primary-color);
  border-color: var(--white-color);
}

.mi-btn-nav:focus {
  box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}

.mi-btn-nav:disabled {
  color: var(--white-color);
  background-color: var(--gray-color);
  border-color: var(--white-color);
}

@media only screen and (max-width: 991px) {

}
@media only screen and (max-width: 768px) {

}
@media only screen and (max-width: 575px) {
  .mi-btn-nav:hover {
    border-color: var(--success-color);
    background-color: var(--primary-hover-color);
  }
}

.mi-btn-link {
  text-decoration: none;
  display: inline-block;
  font-weight: 400;
  color: var(--btn-link-text-color);
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: none;
  background-color: var(--btn-link-background-color);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
}

.mi-btn-link:hover {
  color: var(--btn-link-hover-text-color);
  text-decoration: underline;
}

.mi-btn-link:focus {
  text-decoration: underline;
  box-shadow: none;
}

@media only screen and (max-width: 991px) {

}
@media only screen and (max-width: 768px) {

}
@media only screen and (max-width: 575px) {

}

.mi-btn-footer {
  max-height: var(--btn-nav-max-height);
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--white-color);
  background-color: var(--success-color);
  border-color: var(--white-color);
  border: 1px solid;
  padding: 0.375rem 0.75rem;
  font-size: 1vw;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.mi-btn-footer:hover {
  text-decoration: none;
  color: var(--primary-color);
  background-color: var(--white-color);
  border-color: var(--primary-color);
}

.mi-btn-footer:focus {
  box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}

.mi-btn-footer:disabled {
  color: var(--white-color);
  background-color: var(--success-color);
  border-color: var(--white-color);
}

.mi-btn-footer:not(:disabled):active {
  color: var(--primary-color);
  background-color: var(--white-color);
  border-color: var(--primary-color);
}

.mi-btn-footer:not(:disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}

@media only screen and (max-width: 991px) {

}
@media only screen and (max-width: 768px) {

}
@media only screen and (max-width: 575px) {

}
/* бутони */

/* навигационна лента */
.mi-navbar {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  height: var(--nav-height);
  z-index: 999;
}

.mi-navbar ul {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.mi-navbar ul li {
  list-style: none;
  margin-left: 1rem;
}

.mi-navbar > ul li:first-child {
  margin-left: 2rem;
}

.mi-navbar > ul li:last-child {
  margin-left: auto;
  margin-right: 2rem;
}

.mi-navbar form {
  display: flex;
  flex-wrap: wrap;
}

.mi-navbar .mi-search-input-nav {
  border-style: solid;
  font-size: .95vw;
  border-radius: 5px;
  border-color: var(--white-color);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: auto;
  max-height: var(--btn-nav-max-height);
  height: calc(0.6 * var(--nav-height));
}

.mi-navbar .mi-search-button-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--primary-color);
  background-color: var(--white-color);
  border-color: var(--primary-color);
  border: 1px solid transparent;
  padding: .5vw;
  border-radius: 0.25rem;
  border-left-color: var(--primary-color);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  max-height: var(--btn-nav-max-height);
  height: calc(0.6 * var(--nav-height));
  font-size: 1.5vw;
  font-weight: 900;
  line-height: 1.5vw;
}

.mi-navbar .mi-search-button-nav:hover {
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--primary-color);
  border-color: var(--white-color);
}

.mi-navbar #haburger, .mi-navbar #hamburger-button {
  display: none;
}

.mi-navbar .mi-dropdown-nav {
  position: relative;
  max-height: var(--btn-nav-max-height);
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--primary-color);
  background-color: var(--white-color);
  border-color: var(--primary-color);
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1vw;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.mi-navbar .mi-dropdown-nav:hover {
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--primary-color);
  border-color: var(--white-color);
}

.mi-navbar .mi-dropdown-content-nav {
  background-color: var(--white-color);
  position: absolute;
  border: 2px solid var(--white-color);
  border-radius: 5px;
  width: 150%;
  top: 100%;
  left: -25%;
  right: 0;
  margin: 0;
  padding: 0;
  transform: scale(1,0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}
.mi-navbar .mi-dropdown-nav:focus .mi-dropdown-content-nav {
  z-index: 200;
  transform: scale(1,1);
}
.mi-navbar .mi-dropdown-content-nav a {
  display: block;
  min-height: 2rem;
  text-decoration: none;
  color: var(--primary-color);
  line-height: 2rem;
  border-top: 1px solid var(--gray-color);
  border-bottom: 1px solid var(--gray-color);
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}
.mi-navbar .mi-dropdown-nav:focus .mi-dropdown-content-nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 350ms;
}
.mi-navbar .mi-dropdown-content-nav a:hover {
  color: var(--success-color);
  background-color: var(--primary-color);
}

@media only screen and (max-width: 991px) {
  
  .mi-navbar {
    max-height: calc(0.9 * var(--nav-height));
  }

  .mi-navbar .mi-search-input-nav {
    max-width: 9vw;
    height: calc(0.55 * var(--nav-height));
  }

  .mi-navbar .mi-search-button-nav {
    height: calc(0.55 * var(--nav-height));
  }

}

@media only screen and (max-width: 768px) {
  
  .mi-navbar {
    max-height: calc(0.8 * var(--nav-height));
  }
  .mi-navbar #hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid var(--success-color);
    border-radius: 5px;
    min-width: 3rem;
    min-height: 1.6rem;
    margin: .2rem auto;
    padding: 0;
  }
  .mi-navbar #hamburger div {
    margin: 0 auto;
    padding: 0;
    background-color: var(--success-color);
    display: inline-block;
    min-width: 1.2rem;
    min-height: 2px;
    border-radius: 5px;
  }
  .mi-navbar #hamburger div:first-child {
    margin-top: .2rem;
  }
  .mi-navbar #hamburger div:last-child {
    margin-bottom: .2rem;
  }
  .mi-navbar #hamburger-button:checked ~ ul {
    transform: scale(1, 1);
  }
  .mi-navbar #hamburger-button:checked ~ ul li > a, .mi-navbar #hamburger-button:checked ~ ul form, .mi-navbar #hamburger-button:checked ~ ul .mi-dropdown-nav {
    opacity: 1;
    transition: opacity 250ms ease-in-out 350ms;
  }

  .mi-navbar ul {
    position: absolute;
    display: block;
    transform: scale(1, 0);
    transition: transform 400ms ease-in-out;
    transform-origin: top;
    width: 100%;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    text-align: center;
    border: 2px solid var(--primary-color);
  }
  .mi-navbar ul li {
    width: 100%;
    min-height: 2rem;
    margin: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
  }

  .mi-navbar .mi-btn-nav {
    border-top: 1px solid var(--success-color);
    border-left: 1px solid var(--success-color);
    border-right: 1px solid var(--success-color);
  }

  .mi-navbar ul li > a {
    opacity: 0;
  }
  .mi-navbar ul li a {
    width: 100%;
    margin: 0;
    font-size: 1rem;
    min-height: 2rem;
    line-height: 1rem;
    border-top: 1px solid var(--success-color);
    border-left: 1px solid var(--success-color);
    border-right: 1px solid var(--success-color);
    border-bottom: 0;
    border-radius: 0;
    background-color: var(--primary-color);
    color: var(--white-color);
    transition: opacity 150ms ease-in-out;
  }
  .mi-navbar ul li:first-child a {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .mi-navbar .mi-dropdown-content-nav a:hover {
    color: var(--white-color);
    background-color: var(--primary-color);
  }

  .mi-navbar ul li form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }
  .mi-navbar ul li a:hover {
    background-color: var(--primary-hover-color);
  }

  .mi-navbar .mi-search-input-nav {
    max-width: 100%;
    width: 80%;
    min-height: 2rem;
    border: 1px solid var(--success-color);
    border-right: 0;
    background-color: var(--white-color);
    font-size: .8rem;
    border-top-left-radius: 0;
  }

  .mi-navbar .mi-search-button-nav {
    min-height: 2rem;
    width: 20%;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 1.2rem;
    line-height: 1rem;
    border-top: 1px solid;
    border-color: var(--success-color);
    border-top-right-radius: 0;
  }
  .mi-navbar .mi-search-button-nav:hover {
    background-color: var(--primary-hover-color);
    border-color: var(--success-color);
  }

  .mi-navbar .mi-dropdown-nav {
    width: 100%;
    margin: 0;
    font-size: 1rem;
    min-height: 2rem;
    line-height: 1rem;
    border-top: 1px solid var(--success-color);
    border-left: 1px solid var(--success-color);
    border-right: 1px solid var(--success-color);
    border-bottom: 0;
    border-radius: 0;
    background-color: var(--primary-color);
    color: var(--white-color);
    transition: opacity 150ms ease-in-out;
    opacity: 0;
  }
  .mi-navbar .mi-dropdown-nav:hover {
    color: var(--white-color);
    background-color: var(--primary-hover-color);
    border-color: var(--success-color);
  }

  .mi-navbar .mi-dropdown-content-nav {
    border-color: var(--success-color);
    background-color: var(--primary-color);
    width: 90%;
    left: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .mi-navbar .mi-dropdown-content-nav a {
    display: block;
    min-height: 2rem;
    line-height: 1rem;
    text-decoration: none;
    color: var(--white-color);
    margin: 0;
    padding-top: .5rem;
    border: none;
  }

  .mi-navbar .mi-dropdown-content-nav a:hover {
    background-color: var(--primary-hover-color);
  }

}

@media only screen and (max-width: 575px) {
  
  .mi-navbar {
    max-height: calc(0.7 * var(--nav-height));
  }

}
/* навигационна лента */

/* падащи менюта */


@media only screen and (max-width: 991px) {

}

@media only screen and (max-width: 768px) {
  
}

@media only screen and (max-width: 575px) {
  
}
/* падащи менюта */

/* футър */
.mi-footer {
  background-color: var(--primary-color);
  width: 100%;
  margin: 0;
  text-align: center;
}

@media only screen and (max-width: 991px) {

  .mi-footer .mi-btn-footer {
    max-height: 2rem;
    height: 2rem;
    font-size: 1rem;
    line-height: 1rem;
  }

}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 575px) {

  .mi-footer .mi-btn-footer {
    width: 100%;
  }

}
/* футър */

/* иконки */
.mi-icon {
  width: 3.35vw;
  height: 3.35vw;
}
.mi-icon:hover {
  transition: all .2s ease-in-out;
  transform: scale(1.2,1.2);
}
@media only screen and (max-width: 991px) {
  .mi-icon {
    width: 4.35vw;
    height: 4.35vw;
  }
}

@media only screen and (max-width: 768px) {
  .mi-icon {
    width: 5.35vw;
    height: 5.35vw;
  }
}

@media only screen and (max-width: 575px) {
  .mi-icon {
    width: 10vw;
    height: 10vw;
  }
}
/* иконки */

/* панели */
.mi-panel {
  display: inline-block;
  color: var(--white-color);
  background-color: var(--primary-color);
  border-radius: 15px;
  border-color: var(--primary-color);
  margin: 0 auto;
}

.mi-panel > h2 {/* заглавие на панела */
  text-align: center;
  margin: 0 auto;
  font-size: 1rem;
  font-weight: 400;
  padding: 1rem;
  line-height: 1.5rem;
}
/* панели */

/* широчини в проценти */
.mi-width-5 {
  width: 5%;
}
.mi-width-10 {
  width: 10%;
}
.mi-width-15 {
  width: 15%;
}
.mi-width-20 {
  width: 20%;
}
.mi-width-25 {
  width: 25%;
}
.mi-width-30 {
  width: 30%;
}
.mi-width-35 {
  width: 35%;
}
.mi-width-40 {
  width: 40%;
}
.mi-width-45 {
  width: 45%;
}
.mi-width-50 {
  width: 50%;
}
.mi-width-55 {
  width: 55%;
}
.mi-width-60 {
  width: 60%;
}
.mi-width-65 {
  width: 65%;
}
.mi-width-70 {
  width: 70%;
}
.mi-width-75 {
  width: 75%;
}
.mi-width-80 {
  width: 80%;
}
.mi-width-85 {
  width: 85%;
}
.mi-width-90 {
  width: 90%;
}
.mi-width-95 {
  width: 95%;
}
.mi-width-100 {
  width: 100%;
}

@media only screen and (min-width: 992px) {
  .mi-width-5-for-desktop {
    width: 5%;
  }
  .mi-width-10-for-desktop {
    width: 10%;
  }
  .mi-width-15-for-desktop {
    width: 15%;
  }
  .mi-width-20-for-desktop {
    width: 20%;
  }
  .mi-width-25-for-desktop {
    width: 25%;
  }
  .mi-width-30-for-desktop {
    width: 30%;
  }
  .mi-width-35-for-desktop {
    width: 35%;
  }
  .mi-width-40-for-desktop {
    width: 40%;
  }
  .mi-width-45-for-desktop {
    width: 45%;
  }
  .mi-width-50-for-desktop {
    width: 50%;
  }
  .mi-width-55-for-desktop {
    width: 55%;
  }
  .mi-width-60-for-desktop {
    width: 60%;
  }
  .mi-width-65-for-desktop {
    width: 65%;
  }
  .mi-width-70-for-desktop {
    width: 70%;
  }
  .mi-width-75-for-desktop {
    width: 75%;
  }
  .mi-width-80-for-desktop {
    width: 80%;
  }
  .mi-width-85-for-desktop {
    width: 85%;
  }
  .mi-width-90-for-desktop {
    width: 90%;
  }
  .mi-width-95-for-desktop {
    width: 95%;
  }
  .mi-width-100-for-desktop {
    width: 100%;
  }
}
@media only screen and (max-width: 991px) {
  .mi-width-5-for-notebook {
    width: 5%;
  }
  .mi-width-10-for-notebook {
    width: 10%;
  }
  .mi-width-15-for-notebook {
    width: 15%;
  }
  .mi-width-20-for-notebook {
    width: 20%;
  }
  .mi-width-25-for-notebook {
    width: 25%;
  }
  .mi-width-30-for-notebook {
    width: 30%;
  }
  .mi-width-35-for-notebook {
    width: 35%;
  }
  .mi-width-40-for-notebook {
    width: 40%;
  }
  .mi-width-45-for-notebook {
    width: 45%;
  }
  .mi-width-50-for-notebook {
    width: 50%;
  }
  .mi-width-55-for-notebook {
    width: 55%;
  }
  .mi-width-60-for-notebook {
    width: 60%;
  }
  .mi-width-65-for-notebook {
    width: 65%;
  }
  .mi-width-70-for-notebook {
    width: 70%;
  }
  .mi-width-75-for-notebook {
    width: 75%;
  }
  .mi-width-80-for-notebook {
    width: 80%;
  }
  .mi-width-85-for-notebook {
    width: 85%;
  }
  .mi-width-90-for-notebook {
    width: 90%;
  }
  .mi-width-95-for-notebook {
    width: 95%;
  }
  .mi-width-100-for-notebook {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .mi-width-5-for-tablet {
    width: 5%;
  }
  .mi-width-10-for-tablet {
    width: 10%;
  }
  .mi-width-15-for-tablet {
    width: 15%;
  }
  .mi-width-20-for-tablet {
    width: 20%;
  }
  .mi-width-25-for-tablet {
    width: 25%;
  }
  .mi-width-30-for-tablet {
    width: 30%;
  }
  .mi-width-35-for-tablet {
    width: 35%;
  }
  .mi-width-40-for-tablet {
    width: 40%;
  }
  .mi-width-45-for-tablet {
    width: 45%;
  }
  .mi-width-50-for-tablet {
    width: 50%;
  }
  .mi-width-55-for-tablet {
    width: 55%;
  }
  .mi-width-60-for-tablet {
    width: 60%;
  }
  .mi-width-65-for-tablet {
    width: 65%;
  }
  .mi-width-70-for-tablet {
    width: 70%;
  }
  .mi-width-75-for-tablet {
    width: 75%;
  }
  .mi-width-80-for-tablet {
    width: 80%;
  }
  .mi-width-85-for-tablet {
    width: 85%;
  }
  .mi-width-90-for-tablet {
    width: 90%;
  }
  .mi-width-95-for-tablet {
    width: 95%;
  }
  .mi-width-100-for-tablet {
    width: 100%;
  }
}
@media only screen and (max-width: 575px) {
  .mi-width-5-for-mobile {
    width: 5%;
  }
  .mi-width-10-for-mobile {
    width: 10%;
  }
  .mi-width-15-for-mobile {
    width: 15%;
  }
  .mi-width-20-for-mobile {
    width: 20%;
  }
  .mi-width-25-for-mobile {
    width: 25%;
  }
  .mi-width-30-for-mobile {
    width: 30%;
  }
  .mi-width-35-for-mobile {
    width: 35%;
  }
  .mi-width-40-for-mobile {
    width: 40%;
  }
  .mi-width-45-for-mobile {
    width: 45%;
  }
  .mi-width-50-for-mobile {
    width: 50%;
  }
  .mi-width-55-for-mobile {
    width: 55%;
  }
  .mi-width-60-for-mobile {
    width: 60%;
  }
  .mi-width-65-for-mobile {
    width: 65%;
  }
  .mi-width-70-for-mobile {
    width: 70%;
  }
  .mi-width-75-for-mobile {
    width: 75%;
  }
  .mi-width-80-for-mobile {
    width: 80%;
  }
  .mi-width-85-for-mobile {
    width: 85%;
  }
  .mi-width-90-for-mobile {
    width: 90%;
  }
  .mi-width-95-for-mobile {
    width: 95%;
  }
  .mi-width-100-for-mobile {
    width: 100%;
  }
}
/* широчини в проценти */

/* подвавняване */
.mi-content-center {
  text-align: center;
}
.mi-content-left {
  text-align: left;
}
.mi-content-right {
  text-align: right;
}

@media only screen and (max-width: 991px) {

}
@media only screen and (max-width: 768px) {

}
@media only screen and (max-width: 575px) {
  
}
/* подвавняване */

/* изображения */
.mi-img {
  height: auto;
  margin: 0 auto;
  padding: 4px;
  border: 1px solid var(--gray-color);
  border-radius: 5px;
}

.mi-grid-img  {
  margin: 0 auto;
  padding: .35rem;
  width: 25%;
  height: 20vw;
  display: flex;
  align-items: middle;
  justify-content: center;
}
.mi-grid-img > img {
  margin: 0 auto;
  object-fit: cover;
  width: 100%;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 2px #0B173C;
  border: 1px solid var(--white-color);
}

@media only screen and (max-width: 991px) {

}
@media only screen and (max-width: 768px) {

}
@media only screen and (max-width: 575px) {

  .mi-grid-img  {
    width: 33%;
    height: 26vw;
  }

}

/* изображения */

/* полезни */
.mi-layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

@media only screen and (max-width: 991px) {

}
@media only screen and (max-width: 768px) {

}
@media only screen and (max-width: 575px) {
  
}

.mi-main {
  flex: 1;
}

@media only screen and (max-width: 991px) {

}
@media only screen and (max-width: 768px) {

}
@media only screen and (max-width: 575px) {
  
}

.mi-0-gap-for-desktop {
  grid-gap: 0;
}
.mi-1-gap-for-desktop {
  grid-gap: 1rem;
}
.mi-2-gap-for-desktop {
  grid-gap: 2rem;
}
.mi-3-gap-for-desktop {
  grid-gap: 3rem;
}
.mi-4-gap-for-desktop {
  grid-gap: 4rem;
}
.mi-5-gap-for-desktop {
  grid-gap: 5rem;
}
.mi-0-gap-for-notebook {
  grid-gap: 0;
}
.mi-1-gap-for-notebook {
  grid-gap: .8rem;
}
.mi-2-gap-for-notebook {
  grid-gap: 1.6rem;
}
.mi-3-gap-for-notebook {
  grid-gap: 2.4rem;
}
.mi-4-gap-for-notebook {
  grid-gap: 3.2rem;
}
.mi-5-gap-for-notebook {
  grid-gap: 3.8rem;
}
.mi-0-gap-for-tablet {
  grid-gap: 0;
}
.mi-1-gap-for-tablet {
  grid-gap: .6rem;
}
.mi-2-gap-for-tablet {
  grid-gap: 1.2rem;
}
.mi-3-gap-for-tablet {
  grid-gap: 1.8rem;
}
.mi-4-gap-for-tablet {
  grid-gap: 2.4rem;
}
.mi-5-gap-for-tablet {
  grid-gap: 3rem;
}
.mi-0-gap-for-mobile {
  grid-gap: 0;
}
.mi-1-gap-for-mobile {
  grid-gap: .2rem;
}
.mi-2-gap-for-mobile {
  grid-gap: .4rem;
}
.mi-3-gap-for-mobile {
  grid-gap: .6rem;
}
.mi-4-gap-for-mobile {
  grid-gap: .8rem;
}
.mi-5-gap-for-mobile {
  grid-gap: 1rem;
}

@media only screen and (max-width: 991px) {

}
@media only screen and (max-width: 768px) {

}
@media only screen and (max-width: 575px) {
  
}

.mi-items-center {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  text-align: center;
}

.mi-items-left {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: flex-start;
  text-align: center;
}

.mi-items-right {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: flex-end;
  text-align: center;
}

.mi-items-around {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  text-align: center;
}

.mi-items-between {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  text-align: center;
}

.mi-items-evenly {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
  text-align: center;
}

@media only screen and (min-width: 992px) {

  .mi-column-for-desktop,
  .mi-2-columns-for-desktop,
  .mi-3-columns-for-desktop,
  .mi-4-columns-for-desktop,
  .mi-5-columns-for-desktop,
  .mi-6-columns-for-desktop,
  .mi-7-columns-for-desktop,
  .mi-8-columns-for-desktop,
  .mi-9-columns-for-desktop,
  .mi-10columns-for-desktop,
  .mi-11-columns-for-desktop,
  .mi-12-columns-for-desktop,
  .mi-row-for-desktop,
  .mi-2-rows-for-desktop,
  .mi-3-rows-for-desktop,
  .mi-4-rows-for-desktop,
  .mi-5-rows-for-desktop,
  .mi-6-rows-for-desktop,
  .mi-7-rows-for-desktop,
  .mi-8-rows-for-desktop,
  .mi-9-rows-for-desktop,
  .mi-10-rows-for-desktop {
    display: grid;
  }
  .mi-column-for-desktop {
    grid-template-columns: 1fr;
  }
  .mi-2-columns-for-desktop {
    grid-template-columns: repeat(2,1fr);
  }
  .mi-3-columns-for-desktop {
    grid-template-columns: repeat(3,1fr);
  }
  .mi-4-columns-for-desktop {
    grid-template-columns: repeat(4,1fr);
  }
  .mi-5-columns-for-desktop {
    grid-template-columns: repeat(5,1fr);
  }
  .mi-6-columns-for-desktop {
    grid-template-columns: repeat(6,1fr);
  }
  .mi-7-columns-for-desktop {
    grid-template-columns: repeat(7,1fr);
  }
  .mi-8-columns-for-desktop {
    grid-template-columns: repeat(8,1fr);
  }
  .mi-9-columns-for-desktop {
    grid-template-columns: repeat(9,1fr);
  }
  .mi-10-columns-for-desktop {
    grid-template-columns: repeat(10,1fr);
  }
  .mi-11-columns-for-desktop {
    grid-template-columns: repeat(11,1fr);
  }
  .mi-12-columns-for-desktop {
    grid-template-columns: repeat(12,1fr);
  }

  .mi-row-for-desktop {
    grid-template-rows: 1fr; 
  }
  .mi-2-rows-for-desktop {
    grid-template-rows: repeat(2,1fr);
  }
  .mi-3-rows-for-desktop {
    grid-template-rows: repeat(3,1fr);
  }
  .mi-4-rows-for-desktop {
    grid-template-rows: repeat(4,1fr);
  }
  .mi-5-rows-for-desktop {
    grid-template-rows: repeat(5,1fr);
  }
  .mi-6-rows-for-desktop {
    grid-template-rows: repeat(6,1fr);
  }
  .mi-7-rows-for-desktop {
    grid-template-rows: repeat(7,1fr);
  }
  .mi-8-rows-for-desktop {
    grid-template-rows: repeat(8,1fr);
  }
  .mi-9-rows-for-desktop {
    grid-template-rows: repeat(9,1fr);
  }
  .mi-10-rows-for-desktop {
    grid-template-rows: repeat(10,1fr);
  }

}

@media only screen and (max-width: 991px) {
  
  .mi-column-for-notebook,
  .mi-2-columns-for-notebook,
  .mi-3-columns-for-notebook,
  .mi-4-columns-for-notebook,
  .mi-5-columns-for-notebook,
  .mi-6-columns-for-notebook,
  .mi-7-columns-for-notebook,
  .mi-8-columns-for-notebook,
  .mi-9-columns-for-notebook,
  .mi-10columns-for-notebook,
  .mi-11-columns-for-notebook,
  .mi-12-columns-for-notebook,
  .mi-row-for-notebook,
  .mi-2-rows-for-notebook,
  .mi-3-rows-for-notebook,
  .mi-4-rows-for-notebook,
  .mi-5-rows-for-notebook,
  .mi-6-rows-for-notebook,
  .mi-7-rows-for-notebook,
  .mi-8-rows-for-notebook,
  .mi-9-rows-for-notebook,
  .mi-10-rows-for-notebook {
    display: grid;
  }
  .mi-column-for-notebook {
    grid-template-columns: 1fr;
  }
  .mi-2-columns-for-notebook {
    grid-template-columns: repeat(2,1fr);
  }
  .mi-3-columns-for-notebook {
    grid-template-columns: repeat(3,1fr);
  }
  .mi-4-columns-for-notebook {
    grid-template-columns: repeat(4,1fr);
  }
  .mi-5-columns-for-notebook {
    grid-template-columns: repeat(5,1fr);
  }
  .mi-6-columns-for-notebook {
    grid-template-columns: repeat(6,1fr);
  }
  .mi-7-columns-for-notebook {
    grid-template-columns: repeat(7,1fr);
  }
  .mi-8-columns-for-notebook {
    grid-template-columns: repeat(8,1fr);
  }
  .mi-9-columns-for-notebook {
    grid-template-columns: repeat(9,1fr);
  }
  .mi-10-columns-for-notebook {
    grid-template-columns: repeat(10,1fr);
  }
  .mi-11-columns-for-notebook {
    grid-template-columns: repeat(11,1fr);
  }
  .mi-12-columns-for-notebook {
    grid-template-columns: repeat(12,1fr);
  }

  .mi-row-for-notebook {
    grid-template-rows: 1fr; 
  }
  .mi-2-rows-for-notebook {
    grid-template-rows: repeat(2,1fr);
  }
  .mi-3-rows-for-notebook {
    grid-template-rows: repeat(3,1fr);
  }
  .mi-4-rows-for-notebook {
    grid-template-rows: repeat(4,1fr);
  }
  .mi-5-rows-for-notebook {
    grid-template-rows: repeat(5,1fr);
  }
  .mi-6-rows-for-notebook {
    grid-template-rows: repeat(6,1fr);
  }
  .mi-7-rows-for-notebook {
    grid-template-rows: repeat(7,1fr);
  }
  .mi-8-rows-for-notebook {
    grid-template-rows: repeat(8,1fr);
  }
  .mi-9-rows-for-notebook {
    grid-template-rows: repeat(9,1fr);
  }
  .mi-10-rows-for-notebook {
    grid-template-rows: repeat(10,1fr);
  }

}

@media only screen and (max-width: 768px) {
  
  .mi-column-for-tablet,
  .mi-2-columns-for-tablet,
  .mi-3-columns-for-tablet,
  .mi-4-columns-for-tablet,
  .mi-5-columns-for-tablet,
  .mi-6-columns-for-tablet,
  .mi-7-columns-for-tablet,
  .mi-8-columns-for-tablet,
  .mi-9-columns-for-tablet,
  .mi-10columns-for-tablet,
  .mi-11-columns-for-tablet,
  .mi-12-columns-for-tablet,
  .mi-row-for-tablet,
  .mi-2-rows-for-tablet,
  .mi-3-rows-for-tablet,
  .mi-4-rows-for-tablet,
  .mi-5-rows-for-tablet,
  .mi-6-rows-for-tablet,
  .mi-7-rows-for-tablet,
  .mi-8-rows-for-tablet,
  .mi-9-rows-for-tablet,
  .mi-10-rows-for-tablet {
    display: grid;
  }
  .mi-column-for-tablet {
    grid-template-columns: 1fr;
  }
  .mi-2-columns-for-tablet {
    grid-template-columns: repeat(2,1fr);
  }
  .mi-3-columns-for-tablet {
    grid-template-columns: repeat(3,1fr);
  }
  .mi-4-columns-for-tablet {
    grid-template-columns: repeat(4,1fr);
  }
  .mi-5-columns-for-tablet {
    grid-template-columns: repeat(5,1fr);
  }
  .mi-6-columns-for-tablet {
    grid-template-columns: repeat(6,1fr);
  }
  .mi-7-columns-for-tablet {
    grid-template-columns: repeat(7,1fr);
  }
  .mi-8-columns-for-tablet {
    grid-template-columns: repeat(8,1fr);
  }
  .mi-9-columns-for-tablet {
    grid-template-columns: repeat(9,1fr);
  }
  .mi-10-columns-for-tablet {
    grid-template-columns: repeat(10,1fr);
  }
  .mi-11-columns-for-tablet {
    grid-template-columns: repeat(11,1fr);
  }
  .mi-12-columns-for-tablet {
    grid-template-columns: repeat(12,1fr);
  }

  .mi-row-for-tablet {
    grid-template-rows: 1fr; 
  }
  .mi-2-rows-for-tablet {
    grid-template-rows: repeat(2,1fr);
  }
  .mi-3-rows-for-tablet {
    grid-template-rows: repeat(3,1fr);
  }
  .mi-4-rows-for-tablet {
    grid-template-rows: repeat(4,1fr);
  }
  .mi-5-rows-for-tablet {
    grid-template-rows: repeat(5,1fr);
  }
  .mi-6-rows-for-tablet {
    grid-template-rows: repeat(6,1fr);
  }
  .mi-7-rows-for-tablet {
    grid-template-rows: repeat(7,1fr);
  }
  .mi-8-rows-for-tablet {
    grid-template-rows: repeat(8,1fr);
  }
  .mi-9-rows-for-tablet {
    grid-template-rows: repeat(9,1fr);
  }
  .mi-10-rows-for-tablet {
    grid-template-rows: repeat(10,1fr);
  }
  
}

@media only screen and (max-width: 575px) {
  
  .mi-column-for-mobile,
  .mi-2-columns-for-mobile,
  .mi-3-columns-for-mobile,
  .mi-4-columns-for-mobile,
  .mi-5-columns-for-mobile,
  .mi-6-columns-for-mobile,
  .mi-7-columns-for-mobile,
  .mi-8-columns-for-mobile,
  .mi-9-columns-for-mobile,
  .mi-10columns-for-mobile,
  .mi-11-columns-for-mobile,
  .mi-12-columns-for-mobile,
  .mi-row-for-mobile,
  .mi-2-rows-for-mobile,
  .mi-3-rows-for-mobile,
  .mi-4-rows-for-mobile,
  .mi-5-rows-for-mobile,
  .mi-6-rows-for-mobile,
  .mi-7-rows-for-mobile,
  .mi-8-rows-for-mobile,
  .mi-9-rows-for-mobile,
  .mi-10-rows-for-mobile {
    display: grid;
  }
  .mi-column-for-mobile {
    grid-template-columns: 1fr;
  }
  .mi-2-columns-for-mobile {
    grid-template-columns: repeat(2,1fr);
  }
  .mi-3-columns-for-mobile {
    grid-template-columns: repeat(3,1fr);
  }
  .mi-4-columns-for-mobile {
    grid-template-columns: repeat(4,1fr);
  }
  .mi-5-columns-for-mobile {
    grid-template-columns: repeat(5,1fr);
  }
  .mi-6-columns-for-mobile {
    grid-template-columns: repeat(6,1fr);
  }
  .mi-7-columns-for-mobile {
    grid-template-columns: repeat(7,1fr);
  }
  .mi-8-columns-for-mobile {
    grid-template-columns: repeat(8,1fr);
  }
  .mi-9-columns-for-mobile {
    grid-template-columns: repeat(9,1fr);
  }
  .mi-10-columns-for-mobile {
    grid-template-columns: repeat(10,1fr);
  }
  .mi-11-columns-for-mobile {
    grid-template-columns: repeat(11,1fr);
  }
  .mi-12-columns-for-mobile {
    grid-template-columns: repeat(12,1fr);
  }

  .mi-row-for-mobile {
    grid-template-rows: 1fr; 
  }
  .mi-2-rows-for-mobile {
    grid-template-rows: repeat(2,1fr);
  }
  .mi-3-rows-for-mobile {
    grid-template-rows: repeat(3,1fr);
  }
  .mi-4-rows-for-mobile {
    grid-template-rows: repeat(4,1fr);
  }
  .mi-5-rows-for-mobile {
    grid-template-rows: repeat(5,1fr);
  }
  .mi-6-rows-for-mobile {
    grid-template-rows: repeat(6,1fr);
  }
  .mi-7-rows-for-mobile {
    grid-template-rows: repeat(7,1fr);
  }
  .mi-8-rows-for-mobile {
    grid-template-rows: repeat(8,1fr);
  }
  .mi-9-rows-for-mobile {
    grid-template-rows: repeat(9,1fr);
  }
  .mi-10-rows-for-mobile {
    grid-template-rows: repeat(10,1fr);
  }
  
}
/* полезни */

/* въртележка */
.mi-automatic-slider {
  display: flex;
  align-items: flex-end;
  overflow-x: hidden;
  border: 2px solid var(--gray-color);
  border-radius: 15px;
  background-color: var(--white-color);
  padding: 1rem 0;
}

.mi-automatic-slider-item {
  width: 100%;
  margin: 0 auto;
  flex-shrink: 0;
  animation: slide 12s ease-in-out forwards infinite;
}
.mi-automatic-slider-item img {
  width: 40%;
}

@keyframes slide {
  0%, 20% {
    transform: translateX(0);
  }
  25%, 45% {
    transform: translateX(-100%);
  }
  50%, 70% {
    transform: translateX(-200%);
  }
  75%, 95% {
    transform: translateX(-100%);
  }
}
/* въртележка */


/* карти-произведения */
.mi-creativity-cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  text-align: center;
}
.mi-creativity-cards .mi-creativity-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 15.6vw;
  border: 1px solid var(--gray-color);
  border-radius: 5px;
  box-shadow: 2px 2px 5px 2px #0B173C;
  margin-bottom: 2rem;
}
.mi-creativity-cards .mi-creativity-card > div {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 4% 8% 0;
}
.mi-creativity-cards .mi-creativity-card .mi-creativity-card-images {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 12vw;
  overflow: hidden;
}
.mi-creativity-cards .mi-creativity-card .mi-creativity-card-images .mi-creativity-card-images-counter {
  position: absolute;
  display: block;
  font-size: .7vw;
  top: 4%;
  left: 3%;
  width: 20%;
  color: var(--primary-color);
  background: -webkit-linear-gradient(var(--white-color), var(--gray-color));
  padding: 0 3%;
  border: 1px solid var(--primary-color);
  border-radius: 15px;
  z-index: 110;
}
.mi-creativity-cards .mi-creativity-card .mi-creativity-card-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 12vw;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  object-fit: cover;
  opacity: 1;
  z-index: -1;
  background-color: var(--gray-color);
  animation: creativity_images_animation 24s infinite;
}
.mi-creativity-cards .mi-creativity-card .mi-creativity-card-image-single {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 12vw;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: var(--gray-color);
  object-fit: cover;
}
.mi-creativity-cards .mi-creativity-card .mi-creativity-card-image:nth-child(1) {
  animation-delay: 0s;
}
.mi-creativity-cards .mi-creativity-card .mi-creativity-card-image:nth-child(2) {
  animation-delay: 8s;
}
.mi-creativity-cards .mi-creativity-card .mi-creativity-card-image:nth-child(3) {
  animation-delay: 16s;
}
.mi-creativity-cards .mi-creativity-card .mi-creativity-card-image:nth-child(4) {
  animation-delay: 24s;
}
.mi-creativity-cards .mi-creativity-card .mi-creativity-card-image:nth-child(5) {
  animation-delay: 32s;
}
.mi-creativity-cards .mi-creativity-card .mi-creativity-card-image:nth-child(6) {
  animation-delay: 40s;
}
.mi-creativity-cards .mi-creativity-card .mi-creativity-card-image:nth-child(7) {
  animation-delay: 48s;
}
.mi-creativity-cards .mi-creativity-card .mi-creativity-card-image:nth-child(8) {
  animation-delay: 56s;
}
.mi-creativity-cards .mi-creativity-card .mi-creativity-card-image:nth-child(9) {
  animation-delay: 64s;
}
.mi-creativity-cards .mi-creativity-card .mi-creativity-card-image:nth-child(3):first-child,
.mi-creativity-cards .mi-creativity-card .mi-creativity-card-image:nth-child(3):first-child ~ .mi-creativity-cards .mi-creativity-card .mi-creativity-card-image {
  animation-duration: 24s;
}
.mi-creativity-cards .mi-creativity-card .mi-creativity-card-image:nth-child(6):first-child,
.mi-creativity-cards .mi-creativity-card .mi-creativity-card-image:nth-child(6):first-child ~ .mi-creativity-cards .mi-creativity-card .mi-creativity-card-image {
  animation-duration: 48s;
}
.mi-creativity-cards .mi-creativity-card .mi-creativity-card-image:nth-child(9):first-child,
.mi-creativity-cards .mi-creativity-card .mi-creativity-card-image:nth-child(9):first-child ~ .mi-creativity-cards .mi-creativity-card .mi-creativity-card-image {
  animation-duration: 72s;
}
@keyframes creativity_images_animation {
  0% { opacity: 0; z-index: 100; }
  15% { opacity: 1; }
  50% { opacity: 1; }
  100% { opacity: 0; z-index: -1; }
}
.mi-creativity-cards .mi-creativity-card .mi-creativity-card-author {
  font-size: 1.1vw;
  font-weight: 700;
  text-align: left;
  margin: 0;
  width: 70%;
}
.mi-creativity-cards .mi-creativity-card .mi-creativity-card-created {
  font-size: .8vw;
  font-weight: 400;
  text-align: right;
  margin: 0;
  padding: 0;
  width: 30%;
}
.mi-creativity-cards .mi-creativity-card .mi-creativity-card-type {
  width: 100%;
  font-size: 1vw;
  font-weight: 400;
  text-align: left;
  margin: 0;
  padding: 4% 8% 0;
}
.mi-creativity-cards .mi-creativity-card hr {
  width: 85%;
  color: var(--gray-color);
  margin: 4% 0 0;
  padding: 0;
}
.mi-creativity-cards .mi-creativity-card .mi-creativity-card-description {
  width: 100%;
  font-size: 1.1vw;
  font-style: italic;
  font-weight: 500;
  text-align: left;
  margin: 0;
  padding: 4% 8% 0;
}
.mi-creativity-cards .mi-creativity-card .mi-stars {
  width: 60%;
  text-align: left;
  font-size: 1vw;
  font-weight: 900;
  margin: 0;
  padding: 0;
}
.mi-creativity-cards .mi-creativity-card .mi-stars > i {
  background: -webkit-linear-gradient(#d9e60e, #ffa009);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 5px orange;
}
.mi-creativity-cards .mi-creativity-card .mi-rateing-people-number {
  width: 40%;
  text-align: right;
  font-size: 1vw;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
.mi-creativity-cards .mi-creativity-card .mi-btn-primary {
  width: 85%;
  font-size: 1vw;
  margin: 4% 0 8%;
}

@media only screen and (max-width: 991px) {

  .mi-creativity-cards .mi-creativity-card .mi-creativity-card-images .mi-creativity-card-images-counter {
    font-size: .9vw;
  }

}
@media only screen and (max-width: 768px) {
  
  .mi-creativity-cards .mi-creativity-card {
    width: 23.5vw;
  }
  .mi-creativity-cards .mi-creativity-card .mi-creativity-card-images, .mi-creativity-cards .mi-creativity-card .mi-creativity-card-image, .mi-creativity-cards .mi-creativity-card .mi-creativity-card-image-single {
    height: 18.07vw;
  }
  .mi-creativity-cards .mi-creativity-card .mi-creativity-card-images .mi-creativity-card-images-counter {
    font-size: 1.2vw;
  }
  .mi-creativity-cards .mi-creativity-card .mi-creativity-card-author {
    font-size: 1.8vw;
  }
  .mi-creativity-cards .mi-creativity-card .mi-creativity-card-created {
    font-size: 1.33vw;
  }
  .mi-creativity-cards .mi-creativity-card .mi-creativity-card-type {
    font-size: 1.65vw;
  }
  .mi-creativity-cards .mi-creativity-card .mi-creativity-card-description {
    font-size: 1.8vw;
  }
  .mi-creativity-cards .mi-creativity-card .mi-stars {
    font-size: 1.65vw;
  }
  .mi-creativity-cards .mi-creativity-card .mi-rateing-people-number {
    font-size: 1.65vw;
  }
  .mi-creativity-cards .mi-creativity-card .mi-btn-primary {
    font-size: 1.65vw;
  }

}
@media only screen and (max-width: 575px) {
  
  .mi-creativity-cards .mi-creativity-card {
    width: 70vw;
  }
  .mi-creativity-cards .mi-creativity-card .mi-creativity-card-images, .mi-creativity-cards .mi-creativity-card .mi-creativity-card-image, .mi-creativity-cards .mi-creativity-card .mi-creativity-card-image-single {
    height: 53.8vw;
  }
  .mi-creativity-cards .mi-creativity-card .mi-creativity-card-images .mi-creativity-card-images-counter {
    font-size: 3vw;
  }
  .mi-creativity-cards .mi-creativity-card .mi-creativity-card-author {
    font-size: 3.8vw;
  }
  .mi-creativity-cards .mi-creativity-card .mi-creativity-card-created {
    font-size: 2.8vw;
  }
  .mi-creativity-cards .mi-creativity-card .mi-creativity-card-type {
    font-size: 3.5vw;
  }
  .mi-creativity-cards .mi-creativity-card .mi-creativity-card-description {
    font-size: 3.8vw;
  }
  .mi-creativity-cards .mi-creativity-card .mi-stars {
    font-size: 3.5vw;
  }
  .mi-creativity-cards .mi-creativity-card .mi-rateing-people-number {
    font-size: 3.5vw;
  }
  .mi-creativity-cards .mi-creativity-card .mi-btn-primary {
    font-size: 3.5vw;
  }

}
/* карти-произведения */