@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

body {
    font-family: 'Montserrat', sans-serif;
    background: white;
}
body .mi-main h2 {
    color: #6dbf1c;
    font-size: 2rem;
    margin-top: 4rem;
}

body #welcome {
    margin-top: 3rem;
    margin-bottom: 2rem;
}



body #backButton {
    margin-bottom: 4rem;
    margin-top: 2rem;
}

body h3 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

body #leftSide{
    text-align: left;
    padding-left: 4rem;
    h3{
        font-size: 1.2rem;
    
    }
    h4{
        font-size: 1.2rem;
    }
}
#rightSide h3{
color: rgb(160, 52, 142);
}


@media (max-width: 767.98px) {
    body .mi-main h2 {
        color: #6dbf1c;
        font-size: 1.5rem;
        margin-top: 4rem;
    }
    body #leftSide h3 {
        font-size: 1rem;
    }
    body #leftSide{
        text-align: left;
        padding-left: unset;
    }
}


@media (max-width: 575.98px) {
    body .mi-main h2 {
        color: #6dbf1c;
        font-size: 1.5rem;
        margin-top: 4rem;
    }
    body #leftSide h3 {
        font-size: 1rem;
    }
    body #leftSide h4 {
        font-size: 1rem;
    }
    body #leftSide{
        text-align: left;
        padding-left: unset;
    }

}